html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}
  
img {
  height: auto;
  max-width: 100%;
}


/* Nav */
.nav__logo {
  height: 52px;
}

.nav__item {
  padding: 0 20px;
}

.nav__link {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav__link__highlight {
  color: #DA3E31 !important;
}

.nav__active {
  font-weight: 700;
  border-bottom: 2px solid #1D1F1F;
}

.nav__icon__list {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 gap: 32px;
}

@media only screen and (max-width: 820px) {
  .nav__icon__list {
    display: none;
  }
}

/* gallery */
.section__gallery {
  margin: 40px 0;
}

.section__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #1D1F1F;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 40px
}

.gallery__image {
  height: auto;
  width: 274px;
}

@media only screen and (max-width: 820px) {
  .gallery__image {
   height: 274px;
   width: 100%;
  }
}

/* brands */
.brand__logo__list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 60%;
}

@media only screen and (max-width: 820px) {
  .brand__logo__list{
    flex-wrap: wrap;
    text-align: center;
  }

  .brand__logo__list > li {
    flex: 0 33%;
    flex-grow: 1;
    padding: 15px;
  }

  .brand__logo{
    max-width: 75px;
  }
}

/* new arrival */

.new__arrival__item {
  margin: 40px 0;
  text-align: center;
}

.item__section__header {
  color: #1D1F1F;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
}

.item__image {
  height: auto;
  width: 274px;
}

.item__price{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.itemn__cart{
  color: #DA3E31;
  text-decoration-line: underline !important;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 20px; */
}

.item__card{
  background-color: #efefef;
  padding: 10px;
}

.item__name{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.itemn__cart:hover{
  color: #DA3E31;
}

@media only screen and (max-width: 820px) {
  .item__image {
   height: 200px;
   width: 60%;
  }
}



