html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}
  
img {
  height: auto;
  max-width: 100%;
}


/* Nav */
.nav__logo {
  height: 52px;
}

.nav__item {
  padding: 0 20px;
}

.nav__link {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav__link__highlight {
  color: #DA3E31 !important;
}

.nav__active {
  font-weight: 700;
  border-bottom: 2px solid #1D1F1F;
}

.nav__icon__list {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 gap: 32px;
}

@media only screen and (max-width: 820px) {
  .nav__icon__list {
    display: none;
  }
}

/* hero section */

.hero__section{
  position: relative;
}

.hero__section__img{
  width: 100%;
}

.hero__section__content{
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -42%);
  text-align: center;
}

.hero__section__text{
  
  text-transform: uppercase;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
}

.hero__section__button{

  background: #DE5212;
  border-radius: 40px;
  border: none;
  margin-top:50px ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 60px;
  padding-right: 60px;
  color: #ffffff; 
}

@media only screen and (max-width: 576px) {
  .hero__section__text {

    font-weight: 600;
    font-size: 17px;
  }
  .hero__section__img{
    height:auto;
    width: 100%;
  }
  
.hero__section__button{
  margin-top: 0px;
    font-weight: 400;
    font-size: 8px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
}

@media only screen and (min-width: 768px) {
  .hero__section__text {

    font-weight: 700;
    font-size: 24px;
  }
  .hero__section__img{
    height:auto;
    width: 100%;
  }
  .hero__section__button{
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media only screen and (min-width: 992px) {
  .hero__section__text {

    font-weight: 600;
    font-size: 40px;
  }
  .hero__section__img{
    height:auto;
    width: 100%;
  }
  .hero__section__button{
    margin-top: 18px;
    font-weight: 450;
    font-size: 12px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__section__text {

    font-weight: 600;
    font-size: 47px;
  }
  .hero__section__img{
    height:700px;
    width: 100%;
  }
  .hero__section__button{
    margin-top: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 1400px) {
  .hero__section__text {

    font-weight: 600;
    font-size: 47px;
  }
  .hero__section__img{
    height:885px;
    width: 100%;
  }
  .hero__section__button{
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

/* gallery */
.section__gallery {
  margin: 40px 0;
}

.section__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #1D1F1F;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 40px
}

.gallery__image {
  height: auto;
  width: 274px;
}

@media only screen and (max-width: 820px) {
  .gallery__image {
   height: 274px;
   width: 100%;
  }
}

/* brands */
.brand__logo__list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 60%;
}

@media only screen and (max-width: 820px) {
  .brand__logo__list{
    flex-wrap: wrap;
    text-align: center;
  }

  .brand__logo__list > li {
    flex: 0 33%;
    flex-grow: 1;
    padding: 15px;
  }

  .brand__logo{
    max-width: 75px;
  }
}

/* new arrival */

.new__arrival__item {
  margin: 40px 0;
  text-align: center;
}

.item__section__header {
  color: #1D1F1F;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  margin-top: -77px;
}

.item__image {
  height: auto;
  width: 274px;
}

.item__price{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.itemn__cart{
  color: #DA3E31;
  text-decoration-line: underline !important;
  font-weight: 400;
  font-size: 14px;
}

.item__card{
  background-color: #efefef;
  padding: 10px;
}

.item__name{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.itemn__cart:hover{
  color: #DA3E31;
}

@media only screen and (max-width: 820px) {
  .item__image {
   height: 200px;
   width: 60%;
  }
}

/* category */

.category__list{
  list-style: none;
  padding: 61px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.category__logo{
  width: 120px;
  height: 120px;
}

.category__text{
  text-align: center;
}

.category__text__decoration{
  font-weight: 680;
  font-size: 20px;
  line-height: 28px;
  color: #E9672B;
  margin-top: 15px;
}

@media only screen and (max-width: 576px) {
  .category__list{
    flex-wrap: wrap;
    text-align: center;
  }

  .category__list > li {
    flex: 0 26%;
    flex-grow: 1;
    gap: 10px;
  }

  .category__logo{
    width: 65px;
    height: 65px;
  }

  .category__text__decoration{
    font-weight: 600;
    font-size: 13px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .category__list{
    flex-wrap: wrap;
    text-align: center;
  }

  .category__list > li {
    flex: 0 26%;
    flex-grow: 1;
    gap: 10px;
  }

  .category__logo{
    width: 70px;
    height: 70px;
  }

  .category__text__decoration{
    font-weight: 650;
    font-size: 14px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .category__list{
    flex-wrap: wrap;
    text-align: center;
  }

  .category__list > li {
    flex: 0 12%;
    flex-grow: 1;
    gap: 10px;
  }

  .category__logo{
    width: 75px;
    height: 75px;
  }

  .category__text__decoration{
    font-weight: 650;
    font-size: 15px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1400px) {
  .category__list{
    flex-wrap: wrap;
    text-align: center;
  }

  .category__list > li {
    flex: 0 12%;
    flex-grow: 1;
    gap: 10px;
  }

  .category__logo{
    width: 75px;
    height: 75px;
  }

  .category__text__decoration{
    font-weight: 650;
    font-size: 15px;
    margin-top: 0px;
  }
}








